body {
    color: #e60000 !important;
}

.MuiButtonBase-root {
    border-radius: 0 !important;
}

.MuiButton-textPrimary:hover,
.MuiButton-outlinedPrimary:hover {
    background-color: #e60000 !important;
    color: #ffffff !important;
}

.MuiToolbar-root,
.MuiDialogTitle-root,
.MuiList-root,
.MuiSvgIcon-root {
    color: #e60000 !important;
}

.MuiButtonBase-root {
    box-shadow: none !important;
}

.MuiDataGrid-cell .MuiButtonBase-root:hover {
    background-color: transparent !important;
}

.MuiButtonBase-root.Mui-disabled {
    color: #df9a9a !important;
}

.MuiDataGrid-root {
    border-radius: 0 !important;
    border-top: none !important;
    border-bottom: 1px solid #e60000 !important;
    border-left: none !important;
    border-right: none !important;
    color: #e60000 !important;
}

.MuiDataGrid-topContainer::after {
    background-color: #e60000 !important;
    height: 2px !important;
}

.MuiDataGrid-cell {
    border: none !important;
    border-bottom: 1px solid #e60000 !important;
}

.MuiDataGrid-footerContainer {
    border: none !important;
}

.MuiFormControl-root label {
    color: #e60000 !important;
}

.MuiInputBase-root {
    border-radius: 0 !important;
    color: #e60000 !important;
}

.MuiInputBase-root fieldset {
    border-color: #e60000 !important;
}

.MuiFormControl-root .Mui-disabled {
    color: #df9a9a !important;
}

.MuiInputBase-root.Mui-disabled fieldset input {
    border-color: #df9a9a !important;
}

.MuiInputBase-input .MuiOutlinedInput-input .Mui-disabled {
    color: #df9a9a !important;
}

.MuiFormHelperText-root {
    color: black !important;
    margin-left: 0 !important;
}
